.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
